<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgyLLJp29002AJersrQ_1ag6DtapijVOE</string>
	<key>GCM_SENDER_ID</key>
	<string>620236039401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tms.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>temple-management-system-bfaea</string>
	<key>STORAGE_BUCKET</key>
	<string>temple-management-system-bfaea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620236039401:ios:86e6e6f2fd65285dd17c78</string>
</dict>
</plist>